<html lang="en">

<head>
    <title>PASS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/wholePageStyle.css">
    <link rel="stylesheet" href="/stylesheets/leftInfoBanner.css">
    <link rel="stylesheet" href="/stylesheets/mainDiv.css">
    <link rel="stylesheet" href="/stylesheets/editAssignment.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<body>
    <div class="bodyDiv">

        <%- include('teacherLeftInfoBanner') -%>

        <div id="mainDiv">
            <nav>
                <label id="courseName"><%= assignment.courseid.name%></label>
                <ul>
                    <li>
                        <a href="/pass/courseList">離開課程</a>
                    </li>
                    <li>
                        <a href="/pass/memberList/<%= assignment.courseid._id%>">成員列表</a>
                    </li>
                    <li>
                        <a href="/pass/statistic/<%= assignment.courseid._id %>">成績統計</a>
                    </li>
                    <li>
                        <a href="/pass/assignmentList/<%= assignment.courseid._id %>">作業管理</a>
                    </li>
                </ul>
            </nav>
            <img src="/image/topBannerImg1.png" alt="topBannerImg" id="topBannerImg">
            <div id="title">
                <label><%= assignment.name %></label>
            </div>

            <div id="assignmentDiv">
                <table>
                    <tr>
                        <th>
                            作業名稱
                        </th>
                        <td>
                            <input type="text" id="assignmentName" value="<%= assignment.name %>">
                        </td>
                    </tr>

                    <tr>
                        <th>
                            繳交期限
                        </th>
                        <td>
                            <input type="datetime-local" id="startDate"> -
                            <input type="datetime-local" id="endDate">
                        </td>
                    </tr>

                    <tr>
                        <th>
                            作業描述
                        </th>
                        <td>
                            <textarea id="assignmentDescription" cols="80" rows="5"><%= assignment.description %></textarea>
                        </td>
                    </tr>
                </table>
            </div>

            <input type="button" id="submit" value="確認" class="whiteButton">
            <input type="button" id="secondBtn" class="whiteButton" onClick="history.back()" value="離開">

        </div>
    </div>

    <%- include('footer') -%>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" ></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#startDate").val(formattingDateTime("<%= assignment.start %>"));
            $("#endDate").val(formattingDateTime("<%= assignment.end %>"));
        });

        function formattingDateTime(d) {
            var inputDate = new Date(d);
            var year = inputDate.getFullYear();
            var month = ("0" + (inputDate.getMonth() + 1)).slice(-2);
            var date = ("0" + inputDate.getDate()).slice(-2);
            var hour = ("0" + inputDate.getHours()).slice(-2);
            var minute = ("0" + inputDate.getMinutes()).slice(-2);
            var second = ("0" + inputDate.getSeconds()).slice(-2);
            var formatedDate = year + '-' + month+ '-' + date + "T" + hour + ":" + minute + ":" + second; 
            
            return formatedDate;
        }

        $("#submit").click(function(){
            var startDate = new Date($("#startDate").val());
            var endDate = new Date($("#endDate").val());
            var now = new Date();
            var status = "0";

            if (endDate < now)
                status = "2"
            else if(startDate > now)
                status = "0";
            else
                status = "1";

            $.ajax({
                method: "PATCH",
                url: "/pass/editAssignment",
                data: {
                    "_id" : "<%= assignment._id %>",
                    "name" : $("#assignmentName").val(),
                    "description" : $("#assignmentDescription").val(),
                    "courseid" : "<%= assignment.courseid._id %>",
                    "start" : startDate.toISOString(),
                    "end" : endDate.toISOString(),
                    "status" : status
                }
            }).done(function(data) {
                if(data == "success") {
                    alert("更新作業成功！！");
                    document.location.href="/pass/assignmentList/<%= assignment.courseid._id %>";
                }
                else
                    alert(data);
            }).fail(function(data) {
                alert(data);
            });
        });
    </script>
    
</body>

</html>