<html lang="en">

<head>
    <title>PASS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/wholePageStyle.css">
    <link rel="stylesheet" href="/stylesheets/leftInfoBanner.css">
    <link rel="stylesheet" href="/stylesheets/mainDiv.css">
    <link rel="stylesheet" href="/stylesheets/assignment.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" ></script>
</head>

<body>
    <div class="bodyDiv">

        <%- include('teacherLeftInfoBanner') -%>
        <!-- Determine identity of user is TA or student by course id == ta course id.!!!!!!!! -->
        <% if( user.userType == "teacher"){ %>
            <div id="mainDiv">
                <nav>
                    <label id="courseName"><%= assignment.courseid.name %></label>
                    <ul>
                        <li>
                            <a href="/pass/courseList">離開課程</a>
                        </li>
                        <li>
                            <a href="/pass/memberList">成員列表</a>
                        </li>
                        <li>
                            <a href="/pass/stastic">成績統計</a>
                        </li>
                        <li>
                            <a href="/pass/assignmentList/<%= assignment.courseid._id %>">作業管理</a>
                        </li>
                    </ul>
                </nav>
                <img src="/image/topBannerImg1.png" alt="topBannerImg" id="topBannerImg">
                <div id="title">
                    <label><%= assignment.name %></label>
                    <a href="/pass/correct/<%= assignment._id %>">
                        <label id="topButton">批改作業</label>
                    </a>
                </div>

                <div id="assignmentDiv">
                    <table>
                        <tr>
                            <th>
                                作業名稱
                            </th>
                            <td>
                                <label><%= assignment.name %></label>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                作業狀態
                            </th>
                            <td class="status">
                                <% if(assignment.status == "0"){ %>
                                    <label class="haventStart">尚未開始</label>
                                <%} else if(assignment.status == "1"){ %>
                                    <label class="proceeding">進行中</label>
                                <%} else if(assignment.status == "2"){ %>
                                    <label class="hasDone">已結束</label>
                                <% } %>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                繳交期限
                            </th>
                            <td>
                                <label id="date"> /label>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                作業描述
                            </th>
                            <td>
                                <label><%= assignment.description %></label>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                繳交情況
                            </th>
                            <td>
                                <label>已交 <%= assignment.hanginCount %>人</label><br>
                                <label>未交 <%= (assignment.courseid.studentAccount.length) - assignment.hanginCount %>人</label>
                            </td>
                        </tr>
                    </table>
                </div>

                <a href="/pass/editAssignment/<%= assignment._id %>" class="whiteButton">編輯</a>
                <a href="/pass/assignmentList/<%= assignment.courseid._id %>" class="whiteButton" id="secondBtn">離開</a>
            </div>
        <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <% } else { %>
        <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            <div id="mainDiv">
                <nav>
                    <label id="courseName"><%= assignment.courseid.name %></label>
                    <ul>
                        <li>
                            <a href="/pass/courseList">離開課程</a>
                        </li>
                        <li>
                            <a href="/pass/stastic">成績統計</a>
                        </li>
                        <li>
                            <a href="/pass/assignmentList/<%= assignment.courseid._id %>">作業管理</a>
                        </li>
                    </ul>
                </nav>
                <img src="/image/topBannerImg1.png" alt="topBannerImg" id="topBannerImg">
                <div id="title">
                    <label><%= assignment.name %></label>
                </div>

                <div id="assignmentDiv">
                    <table>
                        <tr>
                            <th>
                                作業名稱
                            </th>
                            <td>
                                <label><%= assignment.name %></label>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                作業狀態
                            </th>
                            <td class="status">
                                <% if(assignment.status == "0"){ %>
                                    <label class="haventStart">尚未開始</label>
                                <%} else if(assignment.status == "1"){ %>
                                    <label class="proceeding">進行中</label>
                                <%} else if(assignment.status == "2"){ %>
                                    <label class="hasDone">已結束</label>
                                <% } %>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                繳交期限
                            </th>
                            <td>
                                <label id="date"></label>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                作業描述
                            </th>
                            <td>
                                <label><%= assignment.description %></label>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                上傳檔案
                            </th>
                            <td>
                                <% if (fileName != ""){ %>
                                    <a href="/pass/assignment/download/<%= fileName %>"><label id="fileName"><%= fileName %></label></a>
                                    <br>
                                <% } %>
                                <% if(fileName == "") {%>
                                    <label>尚未上傳檔案</label>
                                    <br>
                                <% } %>
                                <% if (assignment.status == "1") { %>
                                    <form id="formUpload" action="/pass/uploadAssignment" enctype="multipart/form-data" method="post">
                                        <input id="selectFilePath" name="selectFile" type="file">
                                    </form>
                                <% } %>
                            </td>
                        </tr>
                    </table>
                </div>

                <% if (assignment.status == "1") { %>
                    <label id="submitAssignmentFile" class="whiteButton">確認繳交</label>
                    <a href="/pass/assignmentList/<%= assignment.courseid._id %>" class="whiteButton" id="secondBtn">離開</a>
                <% } else { %>
                    <a href="/pass/assignmentList/<%= assignment.courseid._id %>" class="whiteButton buttonAlignCenter" id="middleBtn">離開</a>
                <% } %>
            </div>

            <script>
                $(document).on("click", "#submitAssignmentFile", function(){
                    $("#formUpload").submit();
                });
            </script>

        <% } %>

        <script>
            $(document).ready(function() {
                $("#date").text(formattingDateTime("<%= assignment.start %>") + " - " + formattingDateTime("<%= assignment.end %>"));
            });
    
            function formattingDateTime(d) {
                var inputDate = new Date(d);
                var year = inputDate.getFullYear();
                var month = ("0" + (inputDate.getMonth() + 1)).slice(-2);
                var date = ("0" + inputDate.getDate()).slice(-2);
                var hour = ("0" + inputDate.getHours()).slice(-2);
                var minute = ("0" + inputDate.getMinutes()).slice(-2);
                var second = ("0" + inputDate.getSeconds()).slice(-2);
                var formatedDate = year + '/' + month+ '/' + date + " " + hour + ":" + minute + ":" + second;
                
                return formatedDate;
            }
        </script>

    </div>

    <%- include('footer') -%>
    
</body>

</html>