<html lang="en">

<head>
    <title>PASS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/wholePageStyle.css">
    <link rel="stylesheet" href="/stylesheets/leftInfoBanner.css">
    <link rel="stylesheet" href="/stylesheets/mainDiv.css">
    <link rel="stylesheet" href="/stylesheets/correct.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<body>
    <div class="bodyDiv">

        <%- include('teacherLeftInfoBanner') -%>

        <div id="mainDiv">
            <nav>
                <label id="courseName"><%= assignment.courseid.name %></label>
                <ul>
                    <li>
                        <a href="/pass/courseList">離開課程</a>
                    </li>
                    <li>
                        <a href="/pass/memberList/<%= courseId%>">成員列表</a>
                    </li>
                    <li>
                        <a href="/pass/statistic/<%= courseId %>">成績統計</a>
                    </li>
                    <li>
                        <a href="/pass/assignmentList/<%= courseId %>">作業管理</a>
                    </li>
                </ul>
            </nav>
            <img src="/image/topBannerImg1.png" alt="topBannerImg" id="topBannerImg">
            <div id="title">
                <label><%= assignment.name %></label>
                <a href="#">
                    <label id="topButton">全部下載</label>
                </a>
            </div>

            <div id="assignmentListDiv">
                <table id="assignmentTable">
                    <tr>
                        <th>姓名</th>
                        <th>學號</th>
                        <th class="score">分數</th>
                        <th class="comment">評語</th>
                        <th>下載</th>
                    </tr>

                    <% studentAssignment.forEach(function(student) { %>
                        <tr>
                            <td><%= student.studentAccount.name %></td>
                            <td><%= student.studentAccount.account %></td>
                            <input type="hidden" value="<%= student._id %>" class="studentAssignmentId">
                            <td>
                                <input type="text" class="score scoreInput" value="<%= student.score %>">
                            </td>
                            <td>
                                <input type="text" class="comment commentInput" value="<%= student.comment %>">
                            </td>
                            <td>
                                <% if(student.fileURL == null) { %>
                                    <label class="haventHangIn">尚未繳交</label>
                                <% } %>
                                <% if(student.fileURL != null) { %>
                                    <a href="/pass/assignment/download/<%= student.fileURL %>">
                                        <label>作業下載</label>
                                    </a>
                                <% } %>
                            </td>
                        </tr>
                    <% }) %>
                </table>
            </div>

            <input type="submit" id="submit" value="送出">

        </div>
    </div>

    <%- include('footer') -%>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" ></script>
    <script>
        $(document).ready(function(){
            $("#submit").click(function(){
                var idArray = new Array();
                var scoreArray = new Array();
                var commentArray = new Array();
                var objectArray = new Array();
                $(".scoreInput").each(function(){
                    scoreArray.push($(this).val());
                })
                $(".commentInput").each(function(){
                    commentArray.push($(this).val());
                })
                $(".studentAssignmentId").each(function(){
                    idArray.push($(this).val());
                })

                for (i=0; i<idArray.length; i++)
                    objectArray[i] = {"_id": idArray[i], "score": scoreArray[i], "comment": commentArray[i]};
                
                jsonArray = JSON.stringify(objectArray);

                $.ajax({
                    method: "PATCH",
                    url: "/pass/correctAssignment",
                    data: {
                        data:jsonArray
                    }
                }).done(function(data) {
                    if(data == "success") {
                        alert("批改儲存成功！！");
                        document.location.href="/pass/assignment/<%= assignment._id %>";
                    }
                    else
                        alert(data);
                }).fail(function(data) {
                    alert(data);
                });
            });
        });
    </script>
    
</body>

</html>