<html lang="en">  
     <head>
        <title>PASS</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/wholePageStyle.css">
        <link rel="stylesheet" href="/stylesheets/leftInfoBanner.css">
        <link rel="stylesheet" href="/stylesheets/courseList.css">
        <link rel="stylesheet" href="/stylesheets/footer.css">
     </head>
     <body>
        <div class = "bodyDiv">
            
            <%- include('teacherLeftInfoBanner', {user: user}) -%>
            <div id="mainDiv">
                <div id="pageTitle">
                    <label>課程列表</label>
                </div>

                <div id="courseListDiv">

                    <% user.courses.forEach(function(course, index, courses) { %>
                        <a href="/pass/assignmentList/<%= course._id %>" >
                            <div class="course">
                                <img src="/image/course.png" alt="course">
                                <div class="courseInfo">
                                    <label class="courseSemester">106學年度 上學期</label>
                                    <br>
                                    <label class="courseName"><%= course.name %></label>
                                    <br>
                                    <label class="courseClass"><%= course.classid.name %></label>
                                </div>
                            </div>
                        </a>
                        <% if (index != courses.length - 1) {%>
                            <hr>
                        <% } %>
                </div>
            </div>
            <% } %>
        </div>

        <%- include('footer') -%>

     </body>
 </html>