<html lang="en">

<head>
    <title>PASS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/wholePageStyle.css">
    <link rel="stylesheet" href="/stylesheets/leftInfoBanner.css">
    <link rel="stylesheet" href="/stylesheets/mainDiv.css">
    <link rel="stylesheet" href="/stylesheets/createAssignment.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">  
</head>

<body>
    <div class="bodyDiv">
        
        <%- include('teacherLeftInfoBanner') -%>

        <div id="mainDiv">
            <nav>
                <label id="courseName">物件導向程式設計</label>
                <ul>
                    <li>
                        <a href="/pass/courseList">離開課程</a>
                    </li>
                    <li>
                        <a href="/pass/memberList">成員列表</a>
                    </li>
                    <li>
                        <a href="/pass/stastic">成績統計</a>
                    </li>
                    <li>
                        <a href="/pass/assignmentList/<%= course._id %>">作業管理</a>
                    </li>
                </ul>
            </nav>
            <img src="/image/topBannerImg1.png" alt="topBannerImg" id="topBannerImg">
            <div id="title">
                <label>新增作業</label>
            </div>

            <div id="assignmentDiv">
                <table>
                    <tr>
                        <th>
                            作業名稱
                        </th>
                        <td>
                            <input type="text" id="assignmentName">
                        </td>
                    </tr>

                    <tr>
                        <th>
                            繳交期限
                        </th>
                        <td>
                            <input type="datetime-local" id="startDate"> -
                            <input type="datetime-local" id="endDate">
                        </td>
                    </tr>

                    <tr>
                        <th>
                            作業描述
                        </th>
                        <td>
                            <textarea cols="80" rows="5" id="assignmentDescription"></textarea>
                        </td>
                    </tr>
                </table>
            </div>

            <input type="submit" id="submit" value="確認">
            <input type="submit" id="exitBtn" value="離開">

        </div>
    </div>
    <%- include('footer') -%>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" ></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#submit").click(function(){
                
                var startDate = new Date($("#startDate").val());
                var endDate = new Date($("#endDate").val());
                var now = new Date();
                var status = "0";

                if (endDate < now)
                    status = "2"
                else if(startDate > now)
                    status = "0";
                else
                    status = "1";

                $.post("/pass/createAssignment", {
                    "name" : $("#assignmentName").val(),
                    "description" : $("#assignmentDescription").val(),
                    "courseid" : "<%= course._id %>",
                    "start" : startDate.toISOString(),
                    "end" : endDate.toISOString(),
                    "status" : status
                }, function(data, status){
                    if(data == "success") {
                        alert("新增作業成功！！");
                        document.location.href="/pass/assignmentList/<%= course._id %>";
                    }
                    else
                        alert(data);
                });
            });

            $('#exitBtn').click(function(event) {
                document.location.href="/pass/assignmentList/<%= course._id %>";
            });
        });
    </script>

</body>

</html>