<html lang="en">

<head>
    <title>PASS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/wholePageStyle.css">
    <link rel="stylesheet" href="/stylesheets/leftInfoBanner.css">
    <link rel="stylesheet" href="/stylesheets/mainDiv.css">
    <link rel="stylesheet" href="/stylesheets/memberList.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<body>
    <div class="bodyDiv">

        <%- include('teacherLeftInfoBanner') -%>

        <div id="mainDiv">
            <nav>
                <label id="courseName"><%= course.name %></label>
                <ul>
                    <li>
                        <a href="/pass/courseList">離開課程</a>
                    </li>
                    <li>
                        <a href="/pass/memberList/<%= course._id%>">成員列表</a>
                    </li>
                    <li>
                        <a href="/pass/statistic/<%= course._id %>">成績統計</a>
                    </li>
                    <li>
                        <a href="/pass/assignmentList/<%= course._id %>">作業管理</a>
                    </li>
                </ul>
            </nav>
            <img src="/image/topBannerImg1.png" alt="topBannerImg" id="topBannerImg">
            <div id="title">
                <label>成員列表</label>
            </div>

            <div id="memberListDiv">
                <div class="taContainerDiv">
                    <% course.TA.forEach(function(TA, index, TAs) { %>
                        <div class="member">
                            <img src="/image/ta.png" alt="ta" class="memberImg">
                            <div class="memberInfo">
                                <label class="memberName"><%= TA.name %></label>
                                <label class="taLabel">助教</label>
                                <br>
                                <label class="memberId"><%= TA._id %></label>
                                <label class="memberClass"><%= TA.classid.name %></label>
                                <label class="memberMail"><%= TA._id + "@ntut.org.tw" %></label>
                            </div>
                        </div>

                        <% if (index != TAs.length - 1) { %>
                            <hr>
                        <% } %>
                    <% }) %>
                </div>

                <div class="studentContainerDiv">

                    <% course.studentAccount.forEach(function(student, index, students) { %>
                    <div class="member">
                        <img src="/image/student.png" alt="student" class="memberImg">
                        <div class="memberInfo">
                            <label class="memberName"><%= student.name %></label>
                            <br>
                            <label class="memberId"><%= student._id %></label>
                            <label class="memberClass"><%= student.classid.name %></label>
                            <label class="memberMail"><%= student._id + "@ntut.org.tw" %></label>
                        </div>
                    </div>

                        <% if (index != students.length - 1) { %>
                            <hr>
                        <% } %>
                    <% }) %>
                </div>
            </div>


        </div>
    </div>

    <%- include('footer') -%>
    
</body>

</html>