<% if (user.userType == "teacher") { %>
<div id="leftInfoBanner">
    <div id="photoDiv">
        <img src="/image/wkc.png" alt="email" class="icon">
    </div>
    <div id="infoDiv">
        <div id="nameDiv">
            <label><%= user.name %></label>
            <label>老師</label>
        </div>

        <hr>

        <div id="individualDiv">
            <div>
                <img src="/image/email.png" alt="email" class="icon">
                <label><%= user.email %></label>
            </div>

            <div>
                <img src="/image/tel.png" alt="tel" class="icon">
                <label><%= user.tel %></label>
            </div>

            <div>
                <img src="/image/website.png" alt="website" class="icon">
                <label><%= user.website %></label>
            </div>
        </div>

        <hr>

        <div id="logoutDiv">
            <a href="/logout">
                <div>
                    <img src="/image/logout.png" alt="logout">
                    <label>登出</label>
                </div>
            </a>
        </div>

        <hr>

        <div id="courseShortcutListDiv">

            <% user.courses.forEach(function(course) { %>
                <a href="/pass/assignmentList/<%= course._id %>">
                    <div class="courseShortcutDiv">
                        <label><%= course.name %></label>
                        <br>
                        <label>106學年度 上學期</label>
                        <label><%= course.classid.name %></label>
                    </div>
                </a>
    
                <hr>
            <% }); %>

        </div>
    </div>
</div>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
 <% } else { %>
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<div id="leftInfoBanner">
    <div id="photoDiv">
        <img src="/image/studentImg.png" alt="email" class="icon">
    </div>
    <div id="infoDiv">
        <div id="nameDiv">
            <label><%= user.name %></label>
            <label>同學</label>
        </div>

        <hr>

        <div id="individualDiv">
            <div>
                <img src="/image/hatIcon.png" alt="email" class="icon">
                <label><%= user.account %></label>
            </div>

            <div>
                <img src="/image/classIcon.png" alt="tel" class="icon">
                <label><%= user.classid.name %></label>
            </div>

            <div>
                <img src="/image/email.png" alt="website" class="icon">
                <label><%= user.account + "@ntut.org.tw" %></label>
            </div>
        </div>

        <hr>

        <div id="logoutDiv">
            <a href="/logout">
                <div>
                    <img src="/image/logout.png" alt="logout">
                    <label>登出</label>
                </div>
            </a>
        </div>

        <hr>

        <div id="courseShortcutListDiv">
             <% user.TACourse.forEach(function(TACourse, index, TACourses) { %>
                <a href="/pass/assignmentList/<%= TACourse._id %>">
                    <div class="courseShortcutDiv">
                        <label><%= TACourse.name %></label>
                        <br>
                        <label>106學年度 上學期</label>
                        <label><%= TACourse.classid.name %></label>
                        <label class="leftTALabel">助教</label>
                    </div>
                </a>

                <hr>
            <% }) %>
            <% user.courses.forEach(function(course) { %>
                <a href="/pass/assignmentList/<%= course._id %>">
                    <div class="courseShortcutDiv">
                        <label><%= course.name %></label>
                        <br>
                        <label>106學年度 上學期</label>
                        <label><%= course.classid.name %></label>
                    </div>
                </a>
    
                <hr>
            <% }); %>
        
        </div>
    </div>
</div>
<% } %>